.inputWord {
    width: 40px;
    height: 40px;
    font-size: 25px;
    text-align: center;
    margin-top: 7px;
    margin-right: 5px;
    font-family: 'KyoboHandwriting2023wsa';   
}

@media (max-width: 380px) {
    .inputWord{
        width: 25px;
        height: 25px;
    }
  }
